<div class="bg-body-secondary p-5">
  <h2 class="text-sm-start">Get The Fresh Cart app</h2>
  <p class="text-secondary">We will send youa link , open it on your phone to download the app</p>
<div class="d-flex gap-4">
  <input class="form-control w-75 " type="email" placeholder="Email...">
<button type="button" class="btn btn-success" >Share App Link</button>
</div>
<hr class="my-3">
<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center gap-3">
<h5>Payment Paterns</h5>
<img class="width" src="/images/amazon-pay.png" alt="">
<img class="width" src="/images/American-Express-Color.png" alt="">
<img class="width" src="/images/mastercard.webp" alt="">
<img class="width" src="/images/paypal.png" alt="">
</div>
<div class="d-flex gap-2 align-items-center">
  <h5>Get delivers With FreshCart</h5>
  <img class="widtha" src="/images/get-apple-store.png" alt="">
  <img class="widthaa" src="/images/get-google-play.png" alt="">

</div>

</div>
<hr class="my-3">




</div>